@use 'sass/variables' as *;
@use 'sass/classes';

div {
  @extend .div-layout;
}

body {
  background-color: black;
}

h1 {
  @extend .position-absolute-layout;
  padding-top: 400px;
  padding-right: 700px;
  color: white;
  text-align: right;
}

table {
  @extend .position-absolute-layout;
  @extend .table-layout;
 }

// Glow 
@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

td {
  @extend .table-data-layout;
}
