@use 'sass/variables' as *;

h1 {
  font-family: $font;
  color: red;
  text-align: center;
}
body {
  background-color: black;
}
div {
  margin: 0 auto;
  padding: 100px;
}
 #toyota {
    height: 150px;
    width: auto;

 }

 #alfa{
    height: 150px;
    width: auto;
  }


 #volkswagen {
   height: 140px;
   width: auto;
 }

 #chevrolet {
   height: 120px;
   width: auto;
 }
