@use 'sass/_variables' as *;
@use 'sass/classes';
h1 {
  font-family: $font;
  color: red; 
  text-align: center;
}

body {
  background-color: black;
  margin: 0 auto;
}

ul {
  color: white;
  font-size: 20px;
  padding-left: 100px;
  list-style-type: none;
}

a {
  font-family: $font;
  color: red;
}

img {
  width: auto;
  height: 100px;
}
#GR86 {
  @extend .button;
}








